# Edit these values to customize your deployment.

# Please use `NODE_ENV=production` in production.
NODE_ENV=development

# `FRONTEND_HOST` and `FRONTEND_PORT` may be ignored in production:
# by default, it runs on `0.0.0.0:3000`, then serve it with a proxy like Traefik.
FRONTEND_HOST=0.0.0.0
FRONTEND_PORT=3000

# `BACKEND_HOST` and `BACKEND_PORT` may be ignored in production:
# by default, it runs on `0.0.0.0:3000`, then serve it with a proxy like Traefik.
BACKEND_HOST=0.0.0.0
BACKEND_PORT=3001

# In production you can use `postgres` as host on local docker network.
DATABASE_HOST=0.0.0.0
DATABASE_PORT=5432
DATABASE_USER=cartepro
DATABASE_PASSWORD=cartepro
DATABASE_NAME=cartepro
# Set it to `false` in production
DATABASE_LOGGING=true
